<!-- home.component.html -->
<section id="home">
  <video autoplay muted loop id="background-video">
    <source src="../../../assets/background.mp4" type="video/mp4">

  </video>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="mb-4">Rodrigo Rodrigues</h1>
        <!-- <h2 class="mb-4 mat-display-3">Bem-vindo ao meu portfólio!</h2> -->
        <p class="lead mat-body-1">Desenvolvedor Web Backend e Frontend apaixonado por criar soluções incríveis.</p>
      </div>
    </div>
    <!-- Seção de Skills -->
    <div class="skills-container py-5">
      <h2 class="text-center mb-4">Minhas Skills</h2>
      <div class="row text-center">
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-html5 fa-3x skill-icon"></i>
          <h3>HTML</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-css3-alt fa-3x skill-icon"></i>
          <h3>CSS</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-js fa-3x skill-icon"></i>
          <h3>JavaScript</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-python fa-3x skill-icon"></i>
          <h3>Python</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-docker fa-3x skill-icon"></i>
          <h3>Docker</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-angular fa-3x skill-icon"></i>
          <h3>Angular</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fas fa-database fa-3x skill-icon"></i>
          <h3>MySQL</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fas fa-server fa-3x skill-icon"></i>
          <h3>Django</h3>
        </div>
        <div class="col-6 col-md-3 mb-4">
          <i class="fab fa-node fa-3x skill-icon"></i>
          <h3>Node.js</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Div invisível para adicionar espaço extra -->
  <div class="extra-space"></div>
</section>
